img {
    border-radius: 50%;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }

  
  .checked {
    color: orange;
  }
  
  /* CARD HEADER RELATED */
  .card-header {
    background-color: white;
    border-width: 3px;
    border-color: #f7f7f7;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .card-header-title-container {
    display: flex;
    flex: 10; 
    align-items: center;
  }
  
  .card-header-settings-btn {
    display: flex;
    flex: 1; 
    justify-content: flex-end;
  }
  
  /* CARD BODY RELATED */
  
  .portrait-container {
    display: flex;
    flex: 1;
  }
  
  .name-date-container {
    display: flex;
    flex: 3;
    justify-content: center;
  }
  
  .scroll {
    max-height: 450px;
    overflow-y: auto;
  }
  
  .card-body-left-container {
    display: flex;
    flex: 4;
    margin-bottom: -10px;
  }
  
  .card-body-right-container {
    display: flex;
    flex: 1;
  }
  
  .rating-container {
    flex: 3;
    justify-content: flex-start;
    align-self: center;
  }
  
  .age-container {
    flex: 1.5;
    justify-content: flex-start;
    align-self: center; 
  }
  
  .button-container {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
  }
  
  
  