img {
    border-radius: 50%;
  }
  
  .flex-container {
    display: flex;
    flex-wrap: wrap;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  
  .card {
    position: absolute;
    margin: auto;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 500px;
    width: 500px;
    background-color: #191919;
  }
  
  .checked {
    color: orange;
  }
  
  /* CARD HEADER RELATED */
  .card-header {
    background-color: #191919;
    border-width: 0.2px;
    border-color: #2ecc71;
    display: flex;
    padding-top: 0;
    padding-bottom: 0;
  }
  
  .card-header-title-container {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    flex: 10; 
    align-items: center;
  }
  
  .card-header-settings-btn {
    display: flex;
    flex: 1; 
    justify-content: flex-end;
  }
  
  /* CARD BODY RELATED */
  
  .portrait-container {
    display: flex;
    flex: 1;
  }
  
  .name-date-container {
    flex: 4;
    flex-direction: column;
  }
  
  .scroll {
    max-height: 450px;
    overflow-y: auto;
  }
  
  .card-body-left-container {
    display: flex;
    flex: 1.2;
    margin-bottom: -10px;
  }
  
  .card-body-right-container {
    display: flex;
    flex: 1.5;
    flex-direction: row;
  }
  
  .rating-container {
    flex: 3;
    justify-content: flex-start;
    align-self: center;
  }
  
  .age-container {
    flex: 1.5;
    justify-content: flex-start;
    align-self: center; 
  }
  
  .button-container {
    flex: 1;
    display: flex;
    align-items: center; 
    justify-content: flex-end;
  }
  
  
  