.image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #191919;
  border: 1px solid #2ecc71;
  border-radius: 10px;
  color: #2ecc71;
  width: 300px;
  padding: 40px 20px;
  margin: 50px auto;
}

h3 {
  margin-top: 0;
}
