.friends {
  display: flex;
  flex-direction: column;
  max-width: 640px;
  margin: 0 auto;
  margin-top: 16px;
}

.friends__item {
  background: #1a1a1a;
  color: white;
  margin: 6px 0;
  padding: 16px;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.friend-button {
  background: grey;
  padding: 8px 16px;
  border: 0;
  border-radius: 8px;
}

.friend-button--remove {
  background: #dc3545;
}

.friend-button--add {
  background: #28a745;
}
